<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eco App Camera</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="{{ url_for('static', filename='css/camera.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="manifest" href="/static/manifest.json">
</head>
<body class="bg-gray-100">
    <div class="top-bar fixed top-0 left-0 right-0 bg-white bg-opacity-65 backdrop-blur-md p-2 z-15 shadow-md flex justify-center items-center">
        <div class="triangle-btn up" id="toggleMenu"></div>
    </div>

    <div class="relative w-full h-screen">
        <div class="absolute top-0 left-0 w-full h-full overflow-hidden">
            <video id="video" autoplay playsinline class="absolute top-0 left-0 w-full h-full object-cover"></video>
        </div>
        <div id="capturedImageContainer" class="absolute flex items-center justify-center w-full h-full">
            <img id="capturedImage" src="" alt="Captured image" class="object-cover h-full">
        </div>
        <div id="loadingAnimation" class="absolute flex items-center justify-center w-full h-full">
            <div class="bouncing-loader">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div id="focusBox" class="absolute border-2 border-yellow-500 hidden"></div>
        <div id="zoomContainer" class="absolute hidden">
            <input type="range" id="zoomSlider" min="1" max="3" step="0.1">
        </div>

        <div class="">
            <label for="toggleSwitch" class="">
                <div class="relative toggle-container">
                    <input type="checkbox" id="toggleSwitch" class="sr-only">
                    <div class=""></div>
                    <div class="toggle-dot"></div>
                </div>
            </label>
        </div>

        <div id="menuBar" class="menu-bar">
            <label for="uploadButton" class="bg-white rounded-full p-4">
                <i class="fas fa-images text-gray-800 text-2xl"></i> <!-- Updated icon for selecting an image from the gallery -->
                <input type="file" id="uploadButton" class="hidden">
            </label>
            <button id="switchCameraButton" class="bg-white rounded-full p-4">
                <i class="fas fa-sync-alt text-gray-800 text-2xl"></i> <!-- Updated icon for changing the camera -->
            </button>
        </div>

        <div id="buttonContainerCamera" class="button-container">
            <button id="takePhotoButton"></button>
        </div>

        <!-- Video Mode Toggle Button -->
        <button id="videoModeToggle" class="bg-white rounded-full p-4 fixed bottom-15 left-10">
            <i id="videoIcon" class="fas fa-camera text-gray-800 text-2xl"></i> <!-- Initially shows camera icon -->
        </button>

<!-- Video Record/Stop Button, initially hidden -->
<button id="recordVideoButton" class="button-container hidden">
    <i class="fas fa-circle text-red-500 text-3xl"></i> <!-- Icon resembling iOS record button -->
</button>


        <div id="enterTextPrompt" class="bg-white rounded-full p-4 fixed bottom-10 right-10"> <!-- Keyboard button moved -->
            <i class="fas fa-keyboard text-gray-800 text-2xl"></i>
        </div>        

        <!-- Modal -->
        <div id="textPromptModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden">
            <div class="bg-white p-6 rounded-lg shadow-lg w-96">
                <label for="textPrompt" class="block text-lg font-semibold mb-2">Enter Text Prompt:</label>
                <input type="text" id="textPrompt" class="w-full p-2 border rounded mb-4" placeholder="Enter prompt here">
                <div class="flex justify-end space-x-4">
                    <button id="cancelTextPrompt" class="bg-gray-300 px-4 py-2 rounded">Cancel</button>
                    <button id="saveTextPrompt" class="bg-green-500 text-white px-4 py-2 rounded">OK</button>
                </div>
            </div>
        </div>

        <!-- Browser Warning Modal -->
        <div id="browserWarningModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden">
            <div class="bg-white p-6 rounded-lg shadow-lg text-center w-80">
                <p class="text-lg text-gray-700 mb-4">Voice Mode is not available here yet, but when it will be, it'll be amazing</p>
                <button id="browserWarningOkButton" class="bg-gray-700 text-white px-4 py-2 rounded">OK</button>
            </div>
        </div>
    </div>
    <!-- Navigation Bar -->
    <div class="fixed inset-x-0 bottom-0 bg-white bg-opacity-65 backdrop-blur-md py-3">
      <nav class="flex justify-around items-center text-gray-600">
        <a href="/home" class="text-center">
          <i class="fas fa-home fa-lg"></i>
          <p>Home</p>
        </a>
        <a href="/camera" class="text-center">
            <i class="fas fa-camera fa-lg" style="color: #4CAF50;"></i> <!-- Adjusted green color -->
            <p>Scan</p>
          </a>
        <a href="/browse" class="text-center">
          <i class="fas fa-th-large fa-lg"></i>
          <p>Apps</p>
        </a>
      </nav>
    </div>

    <canvas id="canvas" class="hidden"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/speech-commands@latest"></script>
    <script src="{{ url_for('static', filename='js/camera.js') }}"></script>
</body>
</html>