<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">    
</head>

<body class="bg-gray-100">
    <main>
        <div class="header-container w-full px-4 mt-8 flex justify-between items-center">
            <div>
                <h1 class="text-3xl font-bold text-left">EcoLens</h1>
                <h2 class="text-xl mt-2 text-left mb-2">For You</h2>
            </div>
            <a href="/ecopoints" class="ecopoints-container flex items-center">
                <img src="{{ url_for('static', filename='images/ecopoints_logo.png') }}" alt="EcoLens Logo" class="w-8 h-8">
                <span id="ecopoints-count" class="ml-2 text-2xl font-bold">0</span>
            </a>            
        </div>
        <div class="carousel mt-2 relative">
            <div class="carousel-inner">
                <a href="/camera" class="carousel-item border border-gray-300 rounded-lg flex items-center justify-center overflow-hidden">
                    <img src="https://lh3.googleusercontent.com/pw/AP1GczPdIEXfJ0pYBIj9gmDTuwMengOf8FQOSXWeNNpQ0YVVRL20QsndF42_NncbzUWLZH1iYuZDi91GnkpdBUGj1Ib-yH2ZCXOb58yyMlLfRDZfYcWDGyJBS9TZ_QkvjaI85ZsYJ2hE8NCCuXVb7jz6mdch=w919-h394-s-no-gm?authuser=0" alt="Description for card 1" class="w-full h-full object-cover">
                </a>
                <a href="/shop" class="carousel-item border border-gray-300 rounded-lg flex items-center justify-center overflow-hidden">
                    <img src="https://lh3.googleusercontent.com/pw/AP1GczPeyRhq1qcLaGLd7_ESSAAVwUXbsQcI8s7ovELUcAVWWnEW8KULB293wxCyublrQdDACaohrmCA6xEbdb62HLaFtIPFzVyPSfU35lL_FKClIeTaQWfxz_YbuBWFM5We2VC_5qN4BQ2yB0hGyVsojLan=w919-h394-s-no-gm?authuser=0" alt="Description for card 2" class="w-full h-full object-cover">
                </a>
                <a href="https://www.firley.org" class="carousel-item border border-gray-300 rounded-lg flex items-center justify-center overflow-hidden">
                    <img src="https://lh3.googleusercontent.com/pw/AP1GczNWN262ZI6CHzLcW79baqqqBHdlHqPaaqf3xgb3UniWmePfz6_f70TytuMM1U7bxpIWZVOW93R-FVCrFuzYhozlwaUn6G5lxVZy_FTO-taQFVnyRUrbLYVb2wtUlPRvLpHNBO18oVI86u-C9jlSGLx0=w919-h394-s-no-gm?authuser=0" alt="Description for card 3" class="w-full h-full object-cover">
                </a>
            </div>
        </div>
        <div class="carousel-indicators">
            <span class="active" data-slide-to="0"></span>
            <span data-slide-to="1"></span>
            <span data-slide-to="2"></span>
        </div>
        <div class="lava-lamp-container carousel mt-2 relative">
            <div class="carousel-inner">
                <div class="carousel-item bg-script lava-lamp rounded-lg" onclick="location.href='/shop'">
                    <span class="overlay-text">Shop More Sustainably</span>
                    <iframe src="https://docs.lume.io/examples/lava-lamp/example.html" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <h2 class="text-2xl font-bold mb-2 mt-8 w-full px-4">Eco Positivity</h2>
        <div class="positivity-section px-4">
            <div class="positivity-card" onclick="location.href='https://environmentamerica.org/updates/a-small-important-win-for-bees-in-colorado/'">
                <h3>Colorado Bee Protection</h3>
                <p>Colorado has introduced new legislative measures aimed at protecting bees, recognizing their critical role as pollinators and their importance to ecosystems globally</p>
                <div class="icon">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
            <div class="positivity-card" onclick="location.href='https://news.mongabay.com/list/happy-upbeat-environmental/'">
                <h3>Deforestation Alerts in the Amazon at a 5-Year Low</h3>
                <p>Brazil has reported a significant decrease in deforestation alerts, hitting a five-year low. This achievement is credited to improved monitoring and enforcement efforts</p>
                <div class="icon">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
            <div class="positivity-card" onclick="location.href='https://www.euronews.com/my-europe/2024/06/17/nature-restoration-law-gets-green-light-after-austria-flips'">
                <h3>Nature Restoration Law gets green light after Austria flips</h3>
                <p>After months of setbacks and difficult negotiations between the EU Council and the European Parliament, environment ministers voted today in Luxembourg to pass the Nature Restoration Law.</p>
                <div class="icon">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
            <div class="positivity-card" onclick="location.href='https://www.dailyclimate.org/paris-showcases-a-car-free-future-during-the-olympics-2668450498.html'">
                <h3>Paris showcases a car-free future during the Olympics</h3>
                <p>Paris is showcasing a dramatic reduction in car reliance, resulting in significantly improved air quality, as it prepares for the 2024 Olympics.</p>
                <div class="icon">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
            <div class="positivity-card" onclick="location.href='https://www.dailyclimate.org/mexico-s-elects-its-first-woman-president-2668442585.html'">
                <h3>Mexico elects its first woman president - a former climate scientist</h3>
                <p>Mexico just elected Claudia Sheinbaum Pardo, former climate scientist and Mexico City mayor</p>
                <div class="icon">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        </div>
        <div class="eco-apps-card" onclick="location.href='/browse'">
            <img src="https://lh3.googleusercontent.com/pw/AP1GczMzxS2N-kx6luKlueeY-ohg6Hf7eSgWIv9mtNjBv0UY4vqhJAZ5yavfmo08xmU8GZ5xCiszEnI417a28cEedHddbpjEl2PN93r2I-vcqaApwKtg_3mhd0Sro7py6sg0ZP8S2QbfWlGxTP2WK6Hokav2=w913-h913-s-no-gm?authuser=0" alt="Placeholder app icon">
            <div class="text">
                <h3>Show All Eco Apps</h3>
            </div>
            <div class="icon">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
        <div class="food-card" onclick="location.href='/camera'">
            <img src="https://lh3.googleusercontent.com/pw/AP1GczPU7uYQCh8eTvNxN3x-goqSqgsvCrz3YOs5Wa9JrQoNLQS-CInciBmNZzN5pCOaxF4U_TxS9K5SAJqGa1bNVaTWu5wtP7R8FWhWIcQqce9dUYMaz7JUJ9BfQneCnxdaUQPvPcs1gmOPrAcLkSThRbDV=w481-h275-s-no-gm?authuser=0" alt="Placeholder image">
            <div class="food-card-content">
                <div class="tag">Meals</div>
                <h3>Get Intelligent, Sustainable<br>Cooking Help</h3>
            </div>
            <div class="icon">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>        
        <div class="info-card" onclick="location.href='/browse'" style="cursor: pointer;">
            <div class="info-content">
                <h3>Tips</h3>
                <p>How to Use EcoLens</p>
            </div>
            <div class="info-icon flex items-center justify-end">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                </svg>
            </div>
        </div>

    </main>
    <footer class="bg-white border-t">
        <div class="fixed inset-x-0 bottom-0 bg-white py-3 shadow-md z-20">
            <nav class="flex justify-around items-center text-gray-700">
                <a href="#" class="text-center">
                    <i class="fas fa-home fa-lg text-green-600"></i>
                    <p>Home</p>
                </a>
                <a href="/camera" class="text-center">
                    <i class="fas fa-camera fa-lg"></i>
                    <p>Scan</p>
                </a>
                <a href="/browse" class="text-center">
                    <i class="fas fa-th-large fa-lg text-gray-600"></i>
                    <p>Apps</p>
                </a>
            </nav>
        </div>
    </footer>
    <script>
        // Fetch and display EcoPoints
        document.addEventListener('DOMContentLoaded', () => {
            const ecoPoints = localStorage.getItem('ecoPoints') ? parseInt(localStorage.getItem('ecoPoints')) : 0;
            document.getElementById('ecopoints-count').innerText = ecoPoints;
        });
    </script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>

</html>
