<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoLens</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="EcoLens Analysis">
</head>

<body class="bg-gray-100">
    <div class="container min-h-screen flex flex-col items-center">
        <header class="fixed-top w-full bg-green-500 py-3 flex justify-center items-center px-4">
            <div class="flex items-center space-x-1"> <!-- Adjusted space between items -->
                <span class="text-xl font-bold text-green-900">Ec</span> <!-- Darker green text -->
                <img src="{{ url_for('static', filename='images/header_pic.png') }}" alt="camera logo" class="h-6 text-green-900"> <!-- Darker green icon -->
                <span class="text-xl font-bold text-green-900">lens</span> <!-- Darker green text -->
            </div>
        </header>

        <main class="flex-grow w-full max-w-sm mx-auto text-center mt-20">
            <h1 class="text-3xl font-bold">Welcome!</h1>
            <div class="circular-progress mx-auto mt-6" id="treeProgress" style="cursor: pointer;">
                <svg viewBox="0 0 110 110">
                    <circle class="circle-bg" cx="55" cy="55" r="45"></circle>
                    <circle class="circle-dark" cx="55" cy="55" r="45"></circle>
                    <circle class="circle-light" id="progressCircle" cx="55" cy="55" r="45" stroke-dasharray="283"
                        stroke-dashoffset="calc(283 - (283 * 0) / 100)"></circle>
                </svg>               
                <div class="absolute inset-0 flex flex-col items-center justify-center">
                    <div class="w-16 h-16">
                        <img src="" alt="Your Tree" id="treeImage" class="w-full h-full object-contain">
                    </div>
                    <span class="text-white mt-1 text-xs" id="treeName">Your Tree</span>
                    <span class="text-white text-xs" id="treeLevel">Lvl 0</span>
                </div>
                            
            </div>
            
            <div class="w-full flex justify-center mt-4">
                <div class="flex w-full max-w-sm space-x-4">
                    <!-- EcoPoints Button -->
                    <a href="/ecopoints" class="flex-1">
                        <button id="ecoPointsButton" class="w-full bg-gray-600 text-white py-2 rounded-lg text-sm font-bold">
                            0 EcoPoints
                        </button>
                    </a>
                    <!-- Browse All Apps Button -->
                    <a href="/browse" class="flex-1">
                        <button class="w-full bg-black text-white py-2 rounded-lg text-sm font-bold">
                            Browse All Apps
                        </button>
                    </a>
                </div>
            </div>
            
            <!-- Scan Now Button -->
            <a href="/camera" class="block bg-green-600 text-white text-md font-semibold py-3 px-6 rounded-lg mt-6 mx-auto hover:bg-green-700">
                Scan Now
            </a>
            

            <div class="horizontal-scroll mt-4">
                <a href="/generaleco" class="item flex items-center justify-between bg-white p-3 rounded-lg shadow-sm mb-0.5">
                    <div class="flex items-center">
                        <img src="{{ url_for('static', filename='images/browse_page/ecoleaves.jpg') }}" alt="General Eco" class="h-8 w-8 mr-3">
                        <span class="text-sm font-semibold text-gray-700 mr-2">General Eco</span>
                    </div>
                    <i class="fas fa-chevron-right text-gray-400"></i>
                </a>
                <a href="/nature" class="item flex items-center justify-between bg-white p-3 rounded-lg shadow-sm mb-0.5">
                    <div class="flex items-center">
                        <img src="{{ url_for('static', filename='images/browse_page/natureicon.jpg') }}" alt="Nature" class="h-8 w-8 mr-3">
                        <span class="text-sm font-semibold text-gray-700 mr-2">Nature</span>
                    </div>
                    <i class="fas fa-chevron-right text-gray-400"></i>
                </a>
                <a href="/recycling" class="item flex items-center justify-between bg-white p-3 rounded-lg shadow-sm mb-0.5">
                    <div class="flex items-center">
                        <img src="{{ url_for('static', filename='images/browse_page/purplerecycle.jpg') }}" alt="Recycling" class="h-8 w-8 mr-3">
                        <span class="text-sm font-semibold text-gray-700 mr-2">Recycling</span>
                    </div>
                    <i class="fas fa-chevron-right text-gray-400"></i>
                </a>
                <a href="/greenwashing" class="item flex items-center justify-between bg-white p-3 rounded-lg shadow-sm mb-0.5">
                    <div class="flex items-center">
                        <img src="{{ url_for('static', filename='images/browse_page/greenmask.jpg') }}" alt="Greenwashing" class="h-8 w-8 mr-3">
                        <span class="text-sm font-semibold text-gray-700 mr-2">Greenwashing</span>
                    </div>
                    <i class="fas fa-chevron-right text-gray-400"></i>
                </a>
                <a href="/composting" class="item flex items-center justify-between bg-white p-3 rounded-lg shadow-sm mb-0.5">
                    <div class="flex items-center">
                        <img src="{{ url_for('static', filename='images/browse_page/compost.jpg') }}" alt="Composting" class="h-8 w-8 mr-3">
                        <span class="text-sm font-semibold text-gray-700 mr-2">Composting</span>
                    </div>
                    <i class="fas fa-chevron-right text-gray-400"></i>
                </a>
                <a href="/food" class="item flex items-center justify-between bg-white p-3 rounded-lg shadow-sm mb-0.5">
                    <div class="flex items-center">
                        <img src="{{ url_for('static', filename='images/browse_page/food.jpg') }}" alt="Food" class="h-8 w-8 mr-3">
                        <span class="text-sm font-semibold text-gray-700 mr-2">Food</span>
                    </div>
                    <i class="fas fa-chevron-right text-gray-400"></i>
                </a>
            </div>
            

            <div class="mt-4 relative w-full max-w-sm mx-auto rounded-2xl overflow-hidden shadow-lg" onclick="location.href='https://earthhero.com'">
                <div class="relative w-full h-48">
                    <iframe class="absolute inset-0 w-full h-full" src="https://docs.lume.io/examples/lava-lamp/example.html" allowfullscreen></iframe>
                    <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-20">
                        <span class="text-white font-bold text-xl">Shop More Sustainably</span>
                    </div>
                </div>
            </div>
            
            


            <div class="eco-apps-card" onclick="location.href='/browse'">
                <img src="static/images/app_icon.png" alt="EcoLens app icon">
                <div class="text">
                    <h3>Show All Eco Apps</h3>
                </div>
                <div class="icon">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
            <div class="carousel mt-2 relative">
                <div class="carousel-inner">
                    <a href="/camera" class="carousel-item border border-gray-300 rounded-lg flex items-center justify-center overflow-hidden">
                        <img src="https://lh3.googleusercontent.com/pw/AP1GczPdIEXfJ0pYBIj9gmDTuwMengOf8FQOSXWeNNpQ0YVVRL20QsndF42_NncbzUWLZH1iYuZDi91GnkpdBUGj1Ib-yH2ZCXOb58yyMlLfRDZfYcWDGyJBS9TZ_QkvjaI85ZsYJ2hE8NCCuXVb7jz6mdch=w919-h394-s-no-gm?authuser=0" alt="Description for card 1" class="w-full h-full object-cover">
                    </a>
                    <a href="/camera" class="carousel-item border border-gray-300 rounded-lg flex items-center justify-center overflow-hidden">
                        <img src="https://lh3.googleusercontent.com/pw/AP1GczPeyRhq1qcLaGLd7_ESSAAVwUXbsQcI8s7ovELUcAVWWnEW8KULB293wxCyublrQdDACaohrmCA6xEbdb62HLaFtIPFzVyPSfU35lL_FKClIeTaQWfxz_YbuBWFM5We2VC_5qN4BQ2yB0hGyVsojLan=w919-h394-s-no-gm?authuser=0" alt="Description for card 2" class="w-full h-full object-cover">
                    </a>
                    <a href="https://www.firley.org" class="carousel-item border border-gray-300 rounded-lg flex items-center justify-center overflow-hidden">
                        <img src="https://lh3.googleusercontent.com/pw/AP1GczNWN262ZI6CHzLcW79baqqqBHdlHqPaaqf3xgb3UniWmePfz6_f70TytuMM1U7bxpIWZVOW93R-FVCrFuzYhozlwaUn6G5lxVZy_FTO-taQFVnyRUrbLYVb2wtUlPRvLpHNBO18oVI86u-C9jlSGLx0=w919-h394-s-no-gm?authuser=0" alt="Description for card 3" class="w-full h-full object-cover">
                    </a>
                </div>
            </div>
            <div class="carousel-indicators">
                <span class="active" data-slide-to="0"></span>
                <span data-slide-to="1"></span>
                <span data-slide-to="2"></span>
            </div>
            <div class="food-card" onclick="location.href='/camera'">
                <img src="https://lh3.googleusercontent.com/pw/AP1GczPU7uYQCh8eTvNxN3x-goqSqgsvCrz3YOs5Wa9JrQoNLQS-CInciBmNZzN5pCOaxF4U_TxS9K5SAJqGa1bNVaTWu5wtP7R8FWhWIcQqce9dUYMaz7JUJ9BfQneCnxdaUQPvPcs1gmOPrAcLkSThRbDV=w481-h275-s-no-gm?authuser=0" alt="Placeholder image">
                <div class="food-card-content text-left">
                    <div class="tag">Meals</div>
                    <h3>Get Intelligent, Sustainable<br>Cooking Help</h3>
                </div>
                <div class="icon">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
            <div class="info-card" onclick="location.href='https://youtube.com/v/LgzrCXc49To?feature=share'" style="cursor: pointer;">
                <div class="info-content text-left">
                    <h3>Tips</h3>
                    <p>How to Use EcoLens</p>
                </div>                
                <div class="info-icon flex items-center justify-end">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                    </svg>
                </div>
            </div>
<!-- Dark Overlay -->
<div id="overlay" class="fixed inset-0 bg-black opacity-50 z-40" style="display: none;"></div>

<!-- Popup -->
<div id="popup" class="fixed bottom-20 left-1/2 transform -translate-x-1/2 bg-white border border-gray-300 p-4 shadow-lg z-50 w-11/12 max-w-xs text-center" style="display: none;">
    <div id="closeButton" class="close absolute top-2 right-2 cursor-pointer text-xl font-bold">&times;</div>
    <img src="static/images/favicon.png" alt="M icon" class="mx-auto mb-4" width="50" height="50">
    <p class="text-sm">To add this web app to the home screen: tap <img src="static/images/share-ios.png" alt="Share button icon" class="inline-block" width="20" height="20"> and then <strong>Add to Home Screen</strong>.</p>
</div>

<!-- Long Triangle pointing down -->
<div id="triangle-container" class="fixed bottom-0 left-1/2 transform -translate-x-1/2 z-50" style="display: none;">
    <div class="w-0 h-0 border-l-8 border-r-8 border-t-16 border-l-transparent border-r-transparent border-t-white"></div>
</div>

</main>

<nav class="fixed inset-x-0 bottom-0 bg-white border-t border-gray-300 shadow-lg z-20">
    <div class="flex justify-around items-center py-2">
        <a href="#" class="text-center">
            <i class="fas fa-home fa-lg text-green-600"></i>
            <p class="text-xs text-gray-700 mt-1">Home</p>
        </a>
        <a href="/camera" class="text-center">
            <i class="fas fa-camera fa-lg text-gray-700"></i>
            <p class="text-xs text-gray-700 mt-1">Scan</p>
        </a>
        <a href="/browse" class="text-center">
            <i class="fas fa-th-large fa-lg text-gray-700"></i>
            <p class="text-xs text-gray-700 mt-1">Apps</p>
        </a>
    </div>
</nav>



        

    </div>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>

</html>
