<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Splash Screen</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/splash.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>
<body class="bg-green-950">
    <div class="text-green-500 text-3xl font-bold font-montserrat">Firley</div>
    <script src="{{ url_for('static', filename='js/splash.js') }}"></script>
</body>
</html>